
__pycache__/
*.py[cod]
*$py.class


*.so


.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.whl


*.manifest
*.spec


pip-log.txt
pip-delete-this-directory.txt


htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/


.pytest_cache/
pytest_debug.log


.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/


.idea/


.vscode/


.ipynb_checkpoints


.mypy_cache/
.dmypy.json
ruff_cache/


.env
.env.*


*.log


openapi.json


*.pb.go
*.pb.cc
*.pb.h
*.pb.*
__pycache__/
*.proto~ # temporary files


.DS_Store
Thumbs.db
